<!-- sidebar.component.html -->
<div class="sidebar">

    <ul class="sidebar-menu">
        <div class="row">
            <div class="column profile" onclick="window.location.href='/user-profile'">
                <img class="logoImg" src="{{userData.imageProfileUrl}}"  alt="">
                <span class="userFullname">{{userData.firstName}} {{userData.lastName}}</span>
            </div>
        </div>
        
        <p class="title">{{userData.postTitle}}</p>

        <hr class="hrLine">
        
        
    </ul>
</div>
 
  