<!-- sidebar.component.html -->
<div class="sidebar">

    <ul class="sidebar-menu">
        <div class="row">
            <div class="column">
                <img class="logoImg" src="https://imgs.search.brave.com/Czeeww1VN6lCfdpdDiy6Btp7Sr5YmnNX9T-1FXnx7Ks/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzkwLzI3LzM5/LzM2MF9GXzI5MDI3/MzkzM191a1laakR2/OG5xZ3BPQmNCVW81/Q1F5RmN4QXpZbFpS/Vy5qcGc" alt="">
                <span class="userFullname">{{userData.firstName}} {{userData.lastName}}</span>
            </div>
        </div>
        
        <p class="title">{{userData.postTitle}}</p>

        <hr class="hrLine">
        
        
    </ul>
</div>
 
  